<div class="page">
    <div class="page-main">
        <app-header></app-header>
        <div class="app-content main-content mt-0">
            <div class="side-app">
                <div class="main-container container-fluid">
                    <h3 class="main-title mb-0">Shift Login</h3>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card product-sales-main mt-3">
                                <div class="card-body mt-2">
                                    <table class="table">
                                        <tr>
                                            <td>Name:</td>
                                            <td>Anubhav Gupta</td>
                                        </tr>
                                        <tr>
                                            <td>Code:</td>
                                            <td>Emp00001</td>
                                        </tr>
                                        <tr>
                                            <td>Shift Time:</td>
                                            <td>Morning</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-4 END -->
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card product-sales-main mt-3">
                                <div class="card-body mt-2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="login-time">
                                                <button type="button" class="btn btn-primary me-3">Login</button>
                                                <p class="mt-3">25/05/24 - 8:00 AM</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="logout-time text-end">
                                                <button type="button" class="btn btn-secondary me-3">Logout</button>
                                                <p class="mt-3">25/05/24 - 6:00 PM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
        <app-footer></app-footer>
    </div>
</div>