<div class="page">
    <div class="page-main">
        <!-- <app-header></app-header> -->
        <div class="app-content main-content mt-0">
            <div class="side-app">
                <div class="main-container container-fluid">
                    <h3 class="main-title mb-0">Supplier List</h3>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card product-sales-main mt-3">
                                <div class="card-body mt-2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Sr. No.</th>
                                                        <th>Supplier Code</th>
                                                        <th>Supplier Name</th>
                                                        <th>Contact Person</th>
                                                        <th>Mobile No.</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1.</td>
                                                        <td>SUP00001</td>
                                                        <td>Relience Store</td>
                                                        <td>Rakesh Kumar</td>
                                                        <td>9988776655</td>
                                                        <td><i class="fa fa-pencil mr-2" aria-hidden="true"></i> <i class="fa fa-trash" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2.</td>
                                                        <td>SUP00002</td>
                                                        <td>G Mart</td>
                                                        <td>Rakesh Kumar</td>
                                                        <td>9988776655</td>
                                                        <td><i class="fa fa-pencil mr-2" aria-hidden="true"></i> <i class="fa fa-trash" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3.</td>
                                                        <td>SUP00003</td>
                                                        <td>Fresh Food Supp</td>
                                                        <td>Rakesh Kumar</td>
                                                        <td>9988776655</td>
                                                        <td><i class="fa fa-pencil mr-2" aria-hidden="true"></i> <i class="fa fa-trash" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>4.</td>
                                                        <td>SUP00004</td>
                                                        <td>Six Ten</td>
                                                        <td>Rakesh Kumar</td>
                                                        <td>9988776655</td>
                                                        <td><i class="fa fa-pencil" aria-hidden="true"></i> <i class="fa fa-trash" aria-hidden="true"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>5.</td>
                                                        <td>SUP00005</td>
                                                        <td>Big Bazar</td>
                                                        <td>Rakesh Kumar</td>
                                                        <td>9988776655</td>
                                                        <td><i class="fa fa-pencil mr-2" aria-hidden="true"></i> <i class="fa fa-trash" aria-hidden="true"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>