<div class="page">
    <div class="page-main">
        <!-- <app-header></app-header> -->
        <div class="app-content main-content mt-0">
            <div class="side-app">
                <div class="main-container container-fluid">
                    <h3 class="main-title mb-0">Return Goods</h3>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card mt-3">
                                <div class="card-body mt-2">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Bill No</label>
                                                <input type="text" class="form-control" id="billNO"
                                                    aria-describedby="billNO">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Bill Date</label>
                                                <input type="date" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Return Date</label>
                                                <input type="date" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Tax</label>
                                                <input type="date" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Mobile</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Cust. Name</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="mb-2">
                                                <label for="exampleInputEmail1" class="form-label">Billing
                                                    Address</label>
                                                <textarea type="text" class="form-control" id="exampleInputEmail1"
                                                    rows="5" aria-describedby="emailHelp"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Return Reason</label>
                                                <textarea type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-4 END -->
                    </div>
                    <!-- <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card mt-3">
                                <div class="card-body mt-2">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Item Code</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Description</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Qty.</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Unit Price</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Discount</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Discount %</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Total Price</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-1 d-flex align-items-center">
                                            <div class="mt-4">
                                                <div class="btn-group p-0 ms-auto">
                                                    <button class="btn btn-primary-light btn-sm addItemBtn me-2"
                                                        type="button">+</button>
                                                    <button class="btn btn-primary-light btn-sm addItemBtn"
                                                        type="button">-</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card mt-3">
                                <div class="card-body mt-2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>S.NO.</th>
                                                        <th>Item Code</th>
                                                        <th style="min-width: 300px;">Product Name</th>
                                                        <th>Qty.</th>
                                                        <th>Item Price</th>
                                                        <th>Discount%</th>
                                                        <th>Discount</th>
                                                        <th>Total Price</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1.</td>
                                                        <td>
                                                            <div class="mb-0">
                                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                                    aria-describedby="emailHelp">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-0">
                                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                                    aria-describedby="emailHelp">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-0">
                                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                                    aria-describedby="emailHelp">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-0">
                                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                                    aria-describedby="emailHelp">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-0">
                                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                                    aria-describedby="emailHelp">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-0">
                                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                                    aria-describedby="emailHelp">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-0">
                                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                                    aria-describedby="emailHelp">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group p-0 ms-auto">
                                                                <button class="btn btn-primary-light btn-sm addItemBtn me-2"
                                                                    type="button">+</button>
                                                                <button class="btn btn-primary-light btn-sm addItemBtn"
                                                                    type="button">-</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card mt-3">
                                <div class="card-body mt-2">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Discount %</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Discount
                                                    Amount</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Total</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Tax</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Noms For
                                                    Client</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Noms For Us</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">XYZ</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Grand Total</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card mt-3">
                                <div class="card-body mt-2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="mb-3">
                                                    <button type="button"
                                                        class="btn btn-primary border  me-2">New</button>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="button"
                                                        class="btn btn-primary border me-2 ">Save</button>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="button"
                                                        class="btn btn-primary border me-2 ">Print</button>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="button"
                                                        class="btn btn-primary border me-2 ">Exit</button>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="button"
                                                        class="btn btn-primary border me-2 ">Delete</button>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="button"
                                                        class="btn btn-primary border me-2 ">Search</button>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="button"
                                                        class="btn btn-primary border me-2 ">Cancel</button>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="button"
                                                        class="btn btn-primary border me-2 ">Previous</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
        <!-- <app-footer></app-footer> -->
    </div>
</div>