<div class="page">
    <div class="page-main">
        <app-header></app-header>
        <div class="app-content main-content mt-0">
            <div class="side-app">
                <div class="main-container container-fluid">
                    <h3 class="main-title mb-0">Goods Receipt Note</h3>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card product-sales-main mt-3">
                                <div class="card-body mt-2">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Last GRN #</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="lastGRN">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">GRN Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="GRNDate">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Receipt No</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="receiptNo">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Sales Invoice
                                                    No</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="SalesInvoiceNo">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card product-sales-main mt-3">
                                <div class="card-body mt-2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-data table-responsive">
                                                <table class="table table-strip">
                                                    <thead>
                                                        <tr>
                                                            <th>SKU Code</th>
                                                            <th>PLU Code</th>
                                                            <th>Description</th>
                                                            <th>EAN Code</th>
                                                            <th>Qty Ord</th>
                                                            <th>Recd</th>
                                                            <th>Free Qty</th>
                                                            <th>Cost</th>
                                                            <th>MRP</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card product-sales-main mt-3">
                                <div class="card-body mt-2">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Last GRN #</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="lastGRN">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">GRN Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="GRNDate">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Receipt No</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="receiptNo">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Sales Invoice
                                                    No</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="SalesInvoiceNo">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Last GRN #</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="lastGRN">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">GRN Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="GRNDate">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Receipt No</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="receiptNo">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Sales Invoice
                                                    No</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="SalesInvoiceNo">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9 mt-5">
                                            <div class="d-flex align-items-center mt-3">
                                                <div class="mb-3">
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-primary border me-2">S</button>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-primary border me-2 ">A</button>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="invDate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Inv.
                                                            Date</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="invDate">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-4">
                                                    <div class="d-flex align-items-center mt-5">
                                                        <div class="mb-3">
                                                            <button type="button"
                                                                class="btn btn-sm btn-outline-primary border me-2">Create
                                                                New PLU (F2)</button>
                                                        </div>
                                                        <div class="mb-3">
                                                            <button type="button"
                                                                class="btn btn-sm btn-outline-primary border me-2 ">Pause</button>
                                                        </div>
                                                        <div class="mb-3">
                                                            <button type="button"
                                                                class="btn btn-sm btn-outline-primary border me-2 ">Sort</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Inv.
                                                            Date</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="invDate">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Inv.
                                                            Date</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="invDate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Inv.
                                                            Date</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="invDate">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Inv.
                                                            Date</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="invDate">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Inv. Date</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="invDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL END -->
                        </div>
                        <!-- ROW-4 END -->
                    </div>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
        <app-footer></app-footer>
    </div>
</div>