<div class="card">
    <div class="row">
        <div class="col-md-4">
            <label for="" class="control-label">Group Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Group Description</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">SKU Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Short Desc</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Log Desc</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Actual Cost Price</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Tax Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Cost Price</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Threshold(%)</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">MRP</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Disc MRP(%)</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Selling Price</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">UOM</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Expiry Date</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">MBQ</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">QOH</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Category Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Category Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Department Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Department Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Sub Category Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Sub Category Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Manufacturer Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Manufacturer Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Brand Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Brand Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Supplier Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Supplier Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Seasonal Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Seasonal Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Attribute Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="" class="control-label">Attribute Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-12">
            <button class="btn btn-primary mr-3">New</button>
            <button class="btn btn-danger mr-3">Save</button>
            <button class="btn btn-success">Close</button>
        </div>
    </div>
</div>